{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <div class="welcome">
               Добро пожаловать!
            </div>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
